/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/api_storage/log/

public/api_storage/erro/log-2019_04_24_16_16_31\.txt

public/api_storage/erro/log-2019_04_24_18_23_43\.txt

public/api_storage/erro/log-2019_04_24_18_23_46\.txt

public/log_err-2019_04_24_20_51_35\.txt

public/log_err-2019_04_24_20_51_36\.txt

public/log_err-2019_04_24_20_51_37\.txt

public/log_err-2019_04_24_20_51_42\.txt

public/log_err-2019_04_24_20_51_46\.txt

public/log_err-2019_04_24_20_51_58\.txt
